<% provide(:pageinfo, "Change Password") %>
<h3 style="text-align: center; color: grey;">Change Password</h3>

<%= form_for @faculty do |form| %>
  <% if @faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>

      <ul>
      <% @faculty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br><br>

<div class="row">
<div class="col-md-offset-4 col-md-5 col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-lg-offset-4 col-lg-5">
  <%= form.label :new_password %>
  <%= form.password_field :password,class: 'form-control' %> 

<br>

  <%= form.label :password_confirmation ,'Confirm' %>
  <%= form.password_field :password_confirmation,class: 'form-control' %> 

  
<br>

<%= form.submit 'Reset', class: 'btn btn-md', style: 'border: 1px solid grey; color: black; border-radius: 22.4px;;' %>

<%= form.submit 'Submit', class: 'btn btn-md', style: 'float: right; background-color: #2E2649; color: white; border-radius: 22.4px;;' %>
   

</div>
</div>

<% end %>
<br>


